/*####################################
 Auteur : Emma Prudent
 Date : 2017
 Contexte : Prosit Exia CESI - PHP/BDD
 #####################################*/

/* Déclaration de nouvelles polices */
@font-face {
    font-family: 'staywildy';
    src: url('fonts/StayWildy/StayWildy.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Général */

html {
    /* Définition du fond d'écran du site */
    background : url("../Images/wp3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Lato Light";
}


/* Header */

.element_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.element_menu li {
    display: inline;
    float: right;
}

.element_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Corps du site */
body {
    margin: auto;
    width: 70%;
}

h1 {
    font-family : staywildy, sans-serif;
    font-size:6em;
    margin: 0;
    margin-top :1cm;
    font-weight:normal;
    color : #333;
}


/* Photos des produits en vente */

.displayprod {
    display : inline-block;
    height : auto;
    padding: 10px;
    background-color : white;
    border:5px solid white;
    margin: 5px;
}

.product-title { text-align: center; font-family: "Lato Black"; }

.prodpic {
    height: 150px;
}

.price {
    height : 30px;
    width : 60px;
    background-color : #333;
    color : white;
    float: top;
    position : relative;
    top : -21px;
    left : 5px;
    margin : 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.description {
    width : 200px;
    margin-left : 10px;
}

/* Contenu */

#contenu {
    background-color: white;
    padding: 15px;
    text-align: center;
}

#barre_boutons_admin {
    background-color: #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    margin : auto;

}
.bouton_admin {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    width: 150px;
    height : 150px;
    line-height: 150px;
    padding: 10px;
    margin : 10px;
    display : inline-block;
    text-align: center;
    /*behavior: url(/PIE.htc);*/
}

.container {
    padding:  20px;
}



table
{
    color: #066A75;
    padding: 50px;
    border-radius: 20px;
    font-family: "Lato Light", serif;
}

table td, th
{
    padding: 10px;
    border: 1px solid ;
}

.form-beau
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.input-group
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-beau input, .form-beau label, .form-beau textarea
{
    border-radius: 0 20px 20px 0 ;
    border: none;
    background-color: #333333;
    color: whitesmoke;
    padding: 10px 20px;
    height: 20px;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

textarea
{
    line-height: 20px ! important;
}

.form-beau .input-group:nth-child(3) > *
{
    height: 100px;
    line-height: 100px;
}

.form-beau label
{
    background: #066A75;
    border-radius: 20px 0 0 20px;
}

.form-beau button
{
    background: #066A75;
    width: 150px;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    line-height: 20px;
    padding: 10px 20px;
    border: none;
    color: whitesmoke;
}

.form-beau > *
{
    margin: 10px 0;
}
